{{> header }}
<div class="login-img">
    <div id="global-loader"></div>
    <div class="page h-100">
        <div class="page-content error-page">
            <div class="container text-center">
                <div class="error-template">
                    <h1 class="display-1 text-white mb-5">503!</h1>
                    <h2 class="h2  mb-3 text-transparent">Bảo Trì!</h2>
                    <div class="error-details text-transparent"> Hệ thống đang tạm bảo trì để khắc phục 1 số lỗi, chúng
                        tôi sẽ quay lại sớm nhất có thể!</div>
                    {{!-- <div class="error-actions mt-5">
                        <a class="btn btn-secondary" target="_blank" href="">Tham gia nhóm</a>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/js/vendors/jquery-3.2.1.min.js"></script>
<script src="../assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="../assets/js/vendors/jquery.sparkline.min.js"></script>
<script src="../assets/plugins/notify/js/rainbow.js"></script>
<script src="../assets/plugins/notify/js/jquery.growl.js"></script>
<script src="../assets/js/jquery.richtext.js"></script>
<script src="../assets/js/app.js"></script>